{% extends 'base.html' %}
{% block content%}

    <div class="row">
        <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                 <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <h1 class="dokrip">로그인</h1>
                     </div>
                </div>
               <form method="POST" action="{% url 'login' %}" name="login">
                {% csrf_token %}
                       <div class="form-group">
                          <label for="exampleInputEmail1">ID</label>
                          <input type="text" name="username"  class="form-control" id="email" placeholder="아이디 입력">
                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Password</label>
                          <input type="password" name="password" id="password"  class="form-control" placeholder="비밀번호 입력">
                       </div>
                       
                      
                       <div class="col-md-12 text-center ">
                          <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">로그인</button>
                       </div>

                       
                       
                    </form>
             
            </div>
        </div>
        </div>

{% endblock %}