
{% extends 'base.html' %}
{% block content%}

{% load static %}

<header>
    <h1 class="dokrip">우민아 출근 일지</h1>
    {% if user.is_authenticated %}
    로그인 아이디 {{ user.username }} &nbsp; <a href="{% url 'logout' %}" >로그아웃</a>
    {% endif %}
</header>



{% if user.is_authenticated %}
    <center>
    {% if user.username == 'ggangpark' or user.username == 'fishcake' %}
        {%if isTodayOnWork == 0%}
        <form method="POST" action="{% url 'oncreate' %}" id="frm">
            {% csrf_token %}
            <a href="javascript:subfrm();"><img src="{% static 'chce.PNG' %}" width="150px" height="150px"/></a>
        </form>
        {%else%}
        <img src="{% static 'him.jpg' %}" width="150px" height="150px"/></a>
        {%endif%}
    {% endif %}

</center>                             
{% endif %}
<br>

<center>
    {% if user.username == 'ggangpark' or user.username == 'fishcake' %}
    <br>    
    <span class="glyphicon glyphicon-exclamation-sign" onclick="javascript:showDiv('dr');"></span>
    <span class="glyphicon glyphicon-ok-sign" onclick="javascript:showDiv('jc');"></span>
    <span class="glyphicon glyphicon-question-sign" onclick="javascript:showDiv('mr');"></span>
    <br>

    <div id="dr" style="display: none;">
        <p class="aright"><span class="glyphicon glyphicon-remove-circle" onclick="javascript:hideDiv('dr')"></span></p>
        <img src="{% static 'dr2.png' %}" width="150px"/>
        <h1>DR IS REAL</h1>
        <img src="{% static 'dr1.jpg' %}" width="150px"/>
        <h1>REAL IS DR</h1>
    </div>

    
    <div id="jc" style="display: none;">
        <p class="aright"><span class="glyphicon glyphicon-remove-circle" onclick="javascript:hideDiv('jc')"></span></p>
        <img src="{% static 'jc1.jpg' %}" width="150px"/>
        <h1>JC IS REAL</h1>
        <img src="{% static 'jc2.jpg' %}" width="150px"/>
        <h1>REAL IS JC</h1>
    </div>

    
    <div id="mr" style="display: none;">
        <p class="aright"><span class="glyphicon glyphicon-remove-circle" onclick="javascript:hideDiv('mr')"></span></p>
        <img src="{% static 'mr1.jpg' %}" width="30px"/>
        <h6>?</h6>
        <img src="{% static 'mr2.jpg' %}" width="30px"/>
        
    </div>
    {%endif%}


</center>         

{% if messages %}
	{% for message in messages %}
    <div class="alert alert-danger">
        <strong>저기요 ! </strong> {{ message.message }}
      </div>
	{% endfor %}
{% endif %}

<br>


<table class="table table-striped chultb">
    <tbody>
        {% for i in schlist%}
            <tr>
                <td>{{i.date|date:"Y-m-d D"}}</td>
                <td>
                    <span class="label label-info">출근</span>&nbsp;{{i.date}}
                </td>
                {% if user.username == 'fishcake' %}
                <td><a href="{% url 'delete' i.id %}" onclick="return confirm('출근 도장 정말 삭제할까요?');"><span class="glyphicon glyphicon-trash"></span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
  </table>

  <script>
      function subfrm(){
            $("#frm").submit();
      }

      function showDiv(idName){
          $("#"+idName).show();
      }

      function hideDiv(idName){
          $("#"+idName).hide();
      }
  </script>


{% endblock %}